.navbar {
  height: 80px;
}

.menu-bars {
  margin: -1.2rem 0 0 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.nav-menu {
  background-color: #393e46;
  width: 170px;
  height: 250px;
  position: fixed;
  top: 0%;
  right: -100%;
  transition: 850ms;
  border-radius: 10px;
  z-index: 100;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
  z-index: 100;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 40px;
}

.nav-text a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: right;
  border-radius: 6px;
}

.nav-text a:hover {
  background-color: #00adb5;
  height: 100%;
  border-radius: 20px;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  background-color: #393e46;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

span {
  margin-left: 16px;
}